// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');
// font-family: 'Kiwi Maru', serif;
// font-family: 'Roboto', sans-serif;

// Include any default variable overrides here
$primary: #a4bb79;
$secondary: #cc513b;
$success: #66b45c;
$info: #1b3d45;
$warning: #ecbd51;
$danger: #f44336;
$dark: #001a18;
$cream: #ffffca;

$body-bg: $info;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/bootstrap";
@import "/sass/tooltips";
// 5. Add additional custom code here
body {
	color: $light;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-family: 'Kiwi Maru', serif;
}
p {
	font-weight: 100;
	font-size: 1.25em;
}
footer {
	margin-block-start: auto;
	position: fixed;
	width: 100%;
	bottom: 0%;
}
.navbar {
	font-family: 'Kiwi Maru', serif;
}
.card-body {
	background-color: $primary;
	color: $info;
	z-index: 0;
	i {
		padding-right: 35px;
		padding-top: 15px;
	}
	.card-title {
		color: $dark;
		font-family: 'Kiwi Maru', serif;
	}
}
.card {
	border-color: $dark;
	border-radius: 0;
	z-index: 0;
}
.fab {
	z-index: -1;
}
#social-buttons-nav {
	margin-inline-start: auto;
}
#social-buttons-contact {
	a {
		font-size: 2.5em;
		color: $primary;
	}
}
