<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Pardis Moravej</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/portfolio">Portfolio</a>
                <a class="nav-link" href="/contact">Contact</a>
            </div>
            <div class="navbar-nav ms-auto" id="social-buttons-nav">
                <a href="https://www.linkedin.com/in/pardis-moravej-7094911a2" class="nav-link"><i class="bi bi-linkedin" style="font-size: 1.5rem;"></i></a>
                <a href="https://github.com/pardismoravej" class="nav-link"><i class="bi bi-github" style="font-size: 1.5rem;"></i></a>
                <a href="https://twitter.com/pmoravej" class="nav-link"><i class="bi bi-twitter" style="font-size: 1.5rem;"></i></a>
            </div>
        </div>
    </div>
</nav>