<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row">
        <h1></h1>
        <div class="col-md-6">
            <p>
                I started learning web development when the pandemic hit in 2020. I was a dental assistant beforehand, and was furloughed as the
                pandemic started to pick up. I have always loved math and science and I realized last year that I could do more than just
                what the medical and dental fields had to offer. I decided to take the Web Developer Bootcamp through Udemy and I found a 
                passion that I never expected! I've been coding almost every day now for more than a year! 
            </p>
            <p>
                My strengths definitely lie with Front End Development; my strongest languages being JavaScript, CSS, and HTML. My strongest frontend frameworks are Bootstrap and React. 
                Some of the other tools I use are Express, AJAX, Node.js, MongoDB, and mongoose.
            </p>
            <p>
                When I'm not working on my code I'm most likely spending time with loved ones, tending to my plant collection, or playing with my cats! 
                Some of my other hobbies include yoga, running, reading (Jane Eyre is my favorite), and volunteering with animals. My other big passions in life are definitely animals and the environment.
            
            </p>
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">My ToolBox</h5>                    
                    <i class="fab fa-js-square fa-5x ms-3"></i>
                    <i class="fab fa-css3-alt fa-5x ms-3"></i>
                    <i class="fab fa-html5 fa-5x ms-3"></i>
                    <i class="fab fa-bootstrap fa-5x ms-3"></i>
                    <i class="fab fa-node fa-5x ms-3"></i>
                    <i class="fab fa-react fa-5x ms-3"></i>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="https://res.cloudinary.com/pmoravej/image/upload/v1615321334/Portfolio%20Site/PardisProfilePicCROPPED_g67sgs.jpg" alt="photo of Pardis Moravej">
        </div>

    </div>
</div>




