<% layout('layouts/boilerplate') %>
<h1 class="text-center mb-5">About Me</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid mb-3" src="https://res.cloudinary.com/pmoravej/image/upload/v1615321334/Portfolio%20Site/PardisProfilePicCROPPED_g67sgs.jpg" alt="photo of Pardis Moravej">

        </div>
        <div class="col-lg-6">
            <p>
                I started learning web development when the pandemic hit in 2020. I was a dental assistant beforehand, and was furloughed as the
                pandemic started to pick up. I have always loved math and science and I realized last year that coding and software development were right up my alley! I decided to take the Web Developer Bootcamp through Udemy and I found a 
                passion that I never expected! I've been coding almost every day now for more than a year. 
            </p>
            <p>
                My strengths definitely lie with Front End Development; my strongest languages being JavaScript, CSS/SCSS, and HTML. My strongest frontend frameworks are Bootstrap and React. 
                Some of the other tools I use are Express, Node.js, MongoDB, AJAX, Git, and Python.
            </p>
            <p>
                When I'm not working on my code I'm most likely spending time with loved ones, tending to my plant collection, or playing with my cats! 
                Some of my other hobbies include yoga, running, reading (<em>Jane Eyre</em> is my favorite), and volunteering.
                I'm very passionate about animals and the environment, so I try to be as involved in those communities as I can be!
            </p>
            <div class="card text-center mb-5">
                <div class="card-body">
                    <h5 class="card-title">My ToolBox</h5>
                    <i class="fab fa-js-square fa-5x"></i>                  
                    <i class="fab fa-css3-alt fa-5x" data-bs-toggle="tooltip" data-bs-placement="top" title="Experience: 1yr"></i>
                    <i class="fab fa-html5 fa-5x" data-bs-toggle="tooltip" data-bs-placement="top" title="Experience: 1yr"></i>
                    <br>
                    <i class="fab fa-bootstrap fa-5x" data-bs-toggle="tooltip" data-bs-placement="top" title="Experience: 1yr"></i>
                    <i class="fab fa-node fa-5x" data-bs-toggle="tooltip" data-bs-placement="top" title="Experience: 1yr"></i>
                    <i class="fab fa-react fa-5x" data-bs-toggle="tooltip" data-bs-placement="top" title="Experience: 6mo"></i>
                    <br>
                    <i class="fab fa-sass fa-5x" data-bs-toggle="tooltip" data-bs-placement="top" title="Experience: 6mo"></i>
                    <i class="fab fa-python fa-5x" data-bs-toggle="tooltip" data-bs-placement="top" title="Experience: 6mo"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    import 'bootstrap/js/dist/tooltip';
    document.addEventListener("DOMContentLoaded", function(event) {
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })
</script>

    