<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">I'd love to collaborate or answer any questions!</h1>
    <div class="col-md-6 offset-md-3 text-center">

        <!-- <form action="" novalidate class="validated-form">
            <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" aria-label="name" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="email" placeholder="name@example.com" required>
                <div class="invalid-feedback">
                    Please provide a valid email.
                </div>
            </div>
            <div class="mb-3">
                <label for="formControlTextarea1" class="form-label">Your Message</label>
                <textarea class="form-control" id="formControlTextarea1" rows="3"></textarea>
            </div>
            <button class="btn btn-success">Email Pardis!</button>
        </form> -->
        <p> <strong>Email me:</strong> </p>
        <p>contact@pardismoravej.io</p>
        <p><strong>or find me on social media:</strong></p>
        <a href="https://www.linkedin.com/in/pardis-moravej-7094911a2" class="d-inline nav-link"><i class="bi bi-linkedin"
                style="font-size: 1.5rem;"></i></a>
        <a href="https://github.com/pardismoravej" class="d-inline nav-link"><i class="bi bi-github" style="font-size: 1.5rem;"></i></a>
        <a href="https://twitter.com/pmoravej" class="d-inline nav-link"><i class="bi bi-twitter" style="font-size: 1.5rem;"></i></a>

    </div>
</div>
